body {
    background-color: cyan;
}
h1{
    background-color: red;
}
h2{
    background-color: orange;
}
.dinhdang {
    background-color: rgb(25, 146, 85);
}
a:link{
    color: #00FF00;
    font-size: 14px;
}
a:hover{
    color: #FF00FF;
    font-size: 1.2em;
    text-decoration: blink;
}
a:visited{
    color: #FF0000;
    text-decoration: none;
}
a:active{
    color: #662D91;
    font-variant: small-caps;
}